            <div class="row" style="margin-top:20px;">
                <div class="col-md-12">
                    <table class="table table-striped">
                      <tr>
                        <th>Form Name</th>
                        <th>Date Sumitted</th>
                        <th>Provider</th>
                      </tr>                    
                      <tr>
                        <td><a href="#">GASP</a></td>
                        <td>21 January, 2015</td>
                        <td>Dr. John Smith</td>
                      </tr>
                      <tr>
                        <td><a href="#">CVD Risk Assessment</a></td>
                        <td>15 December, 2014</td>
                        <td>Dr. John Smith</td>
                      </tr>
                      <tr>
                        <td><a href="#">Care Plus</a></td>
                        <td>05 December, 2014</td>
                        <td>Dr. John Smith</td>
                      </tr>
                    </table>                           
                </div>
            </div>